{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Welcome, {{name}}!
    <h2 class="subtitle">
    select xlsx file with numbers to be searched.
    </h2>
    <form action = "data" method = "POST"
          enctype = "multipart/form-data">
          <p>
        <input  type = "file" name = "upload" value= "" >
        <!-- name is uplaod which is used in app.py as POST -->
        </p>
        <input type ="submit" name ="submit" value ="view">
        <input type = "submit" name="submit" value= "submit" >
        <!-- when submit button is clicked the def trial is initiated -->
    </form>
</h1>
{% endblock %}
